:root{
    --color1: black;
    --color2: rgb(73, 73, 73);
    --color3: gray;
    --color4: blue;
}

*{
    font-family: "Roboto", Arial, sans-serif;
}

.f_size{
    font-size: 1rem;
}
.f_size_s{
    font-size: .7rem;
}


.bkg_1{
    background-color: var(--color1);
}

.bkg_2{
    background-color: var(--color2);
}

.bkg_3{
    background-color: var(--color3) ;
}

.bkg_4{
    background-color: var(--color4);
}


.sony_icon{
    width: 50px;
    padding: .5rem 0;
    margin-right: 1rem;
}

.pstation_logo{
    width: 30px;
    display: flex;
    align-items: center;

}

.border_jumbo_card{
    border: 2px solid rgb(73, 131, 211);
    padding: 2px;
}   
.border_jumbo_card_gray{
   border: 2px solid transparent;
    padding: 2px;
}   

.sie_logo{
    width: 110px;
    margin-top: 1.5rem;
    margin-bottom: .5rem;
}

.nav_left ul{
    list-style: none;
    column-gap: .5rem;
    padding-left: .5rem;
    display: flex;
    margin-bottom: 0;
}

.nav_right ul{
    list-style: none;
    column-gap: .5rem;
    padding-left: .5rem;
    align-items: center;
    margin-bottom: 0;
}

.lens_icon{
    width: 20px;
}

.language_icon{
    width: 17px;
    display: inline-block;
}

.Hmenu{
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: .4rem;
    margin-right: .5rem;
}

.jumbo{
    background-image: url(../imgs/jumbo-bg.png);
    background-position: 50% 5rem ;
    background-repeat: no-repeat;
    background-size: cover;
}

.p_jumbo{
    padding-top: 200px;
}

.w_60{
    width: 60%;
}

.max_w{
    max-width: 700px;
}

.my-card{
    border-radius: 15px;
    
}
h5{
    font-size: small;
}

.btn_information{
    padding: 2px 5px;
    text-decoration: none;
    background-color: blue;
    color: white;
}

.border-bot-blue{
    border-bottom: 2px solid blue;
}

.bkg-section3{
    background-image: url(../imgs/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.takes2_logo{
    width: 60%;
    margin-top: ;
}

.my_ul{
    list-style: none;
    padding-left: 0;
}

.link_footer{
    text-decoration: none;
    color: white;
}


/***** HOVER EFFECTS  *****/

.my-card:hover.border_jumbo_card_gray{
    border-color: rgb(143, 140, 140);
}