:root{
    --color1: black;
    --color2: rgb(73, 73, 73);
    --color3: gray;
    --color4: #00439C;
}

*{
    font-family: "Roboto", Arial, sans-serif;
}

.f_size{
    font-size: 1rem;
}
.f_size_s{
    font-size: .7rem;
}


.bkg_1{
    background-color: var(--color1);
}

.bkg_2{
    background-color: var(--color2);
}

.bkg_3{
    background-color: var(--color3) ;
}

.bkg_4{
    background-color: var(--color4);
}

.arrow-menu{
    fill: gray;
    width: 10px;
}

.link_menu{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 0 .5rem;
}

.sony_icon{
    width: 50px;
    padding: .5rem 0;
    margin-right: 1rem;
}

.pstation_logo{
    width: 30px;
    display: flex;
    align-items: center;

}

.border_jumbo_card{
    border: 3px solid rgb(73, 131, 211);
    padding: 3px;
}   
.border_jumbo_card_gray{
   border: 3px solid transparent;
    padding: 3px;
}   

.sie_logo{
    width: 110px;
    margin-top: 1.5rem;
    margin-bottom: .5rem;
}

.nav_left ul{
    list-style: none;
    column-gap: .5rem;
    padding-left: .5rem;
    display: flex;
    margin-bottom: 0;
}

.nav_right ul{
    list-style: none;
    column-gap: .5rem;
    padding-left: .5rem;
    align-items: center;
    margin-bottom: 0;
}

.lens_icon{
    width: 20px;
}

.language_icon{
    width: 17px;
    display: inline-block;
}

.Hmenu{
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: .4rem;
    margin-right: .5rem;
}

.jumbo{
    background-image: url(../imgs/jumbo-bg.png);
    background-position: 50% 5rem ;
    background-repeat: no-repeat;
    background-size: cover;
}

.p_jumbo{
    padding-top: 350px;
}

.w_60{
    width: 60%;
}

.max_w{
    max-width: 700px;
}

.my-card{
    border-radius: 15px;
    position: relative;
    transition: all .3s;
}
h5{
    font-size: small;
}


.border-bot-blue{
    border-bottom: 2px solid blue;
}

.bkg-section3{
    background-image: url(../imgs/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.takes2_logo{
    width: 60%;
    margin-top: ;
}

.my_ul{
    list-style: none;
    padding-left: 0;
}

.link_footer{
    text-decoration: none;
    color: white;
}

.border_hover{
    border-bottom: 2px solid transparent;
}



/****  BUTTONS  ****/
button[class^="btn_"]{
    border-radius: 30px;
    padding: .3rem 1rem;
}

.btn_login{ 
    background-color: #363636;
    color: white;
}

.btn_blue{
    background-color: #2D64E6;
    color: white;
    border-color: #2D64E6;
}

.btn_orange{
    background-color: #CD3D0F;
    color: white;
    border-color: #CD3D0F;
}

.btn_plus{
    background-color: #CBD0DC;
    color: #2D64E6;
    font-weight: bold;
    border-color: #CBD0DC;
}



/*****  HOVER EFFECTS  *****/
.link_menu:hover svg{
    fill: rgb(7, 56, 252);
}

.my-card:hover.border_jumbo_card_gray{
    border-color: rgb(143, 140, 140);
}

.my-card:hover{
    transform: translateY(-10px);
    box-shadow: 0px 10px 18px #888888;
}

.border_hover:hover{
    border-color: gray;
}

.social_hover:hover{
    transition: all .3s;
    transform: translateY(-10px);
    box-shadow: 0px 10px 18px #888888;
}

